[buildout]
extends = base.cfg
          mongoauth.cfg

parts =
#   Framework
    max
    omelette
    test
#    test-osiris
    test-bunny
    test-carrot
    coverage
    supervisor
    releaser

#   Nginx
    headers-module
    nginx-config
    nginx

#   Databases & messaging
    mongodb
    rabbitmq

#   Config files
    mongo-config
    max-ini
    bigmax-ini
    maxsettings
#    osiris-ini
    rabbit-server-ini
    rabbit-build-max-auth
    rabbit-build-stomp
    rabbit-config-ini
    common-ini
    maxbunny-ini
    maxtweety-ini
    mongocli

eggs =
develop =

extensions = mr.developer
auto-checkout = *

find-links =
    http://pypi.upc.edu/links

