[buildout]
extends = base.cfg
          customizeme.cfg
          versions.cfg

extensions = mr.developer
auto-checkout = rabbitmq_auth_backend_max

versions = versions

parts =
#   Framework
    max
    omelette
    test
    test-bunny
    coverage
    releaser
    supervisor

#   Nginx
    headers-module
    nginx

#   Databases & messaging
    mongodb
    rabbitmq

#   Config files
    nginx-config
    mongodb-config
    mongodb-indexes
    max-ini
    bigmax-ini
    maxsettings

    rabbit-server-ini
    rabbit-build-http-max
    rabbit-config-ini
    maxbunny-ini
    mongocli
    common-ini
    maxbunny-ini
    maxtweety-ini

[sources]
rabbitmq_auth_backend_max = git git@github.com:UPCnet/rabbitmq-auth-backend-max egg=false


[mongodb-config]
recipe = collective.recipe.template
input = ${buildout:directory}/config/templates/mongodb-nocluster.conf.template
output = ${buildout:directory}/config/mongodb.conf

#index = http://colladaverda.upc.edu/pypi
#allow-hosts = colladaverda.upc.edu

## End NGINX

[circus]
recipe = zc.recipe.egg:scripts
eggs = ${max:eggs}
       circus
       circus-web
       gevent-socketio
       chaussette

[circus-ini]
recipe = collective.recipe.template
input = ${buildout:directory}/config/templates/circus_full.ini.template
output = ${buildout:directory}/config/circus.ini
