  upstream max_server {
    server ${upstream-hosts:max}:${ports:max} fail_timeout=0;
  }

  upstream ulearnhub_server {
    server ${upstream-hosts:ulearnhub}:${ports:ulearnhub} fail_timeout=0;
  }

  upstream rabbitmq_web_stomp_server {
    server ${upstream-hosts:rabbitmq}:${ports:rabbitmq-web-stomp} fail_timeout=0;
  }

  upstream osiris_server {
    server ${upstream-hosts:oauth}:${ports:osiris} fail_timeout=0;
  }
