# Information about the common running services to use
[rabbitmq]
server = ${urls:rabbit}
manage = ${urls:rabbit-manage}

[mongodb]
url = ${urls:mongo}
db_name = max_${max:name}
cluster = ${max:cluster_enabled}
hosts = ${hosts:mongodb_cluster}
replica_set = maxcluster