# Information about the common running services to use
[rabbitmq]
server = ${urls:rabbit}
manage = ${urls:rabbit-manage}

[mongodb]
url = ${urls:mongo}
db_name = max_${max-config:name}
cluster = ${mongodb-config:cluster_enabled}
hosts = ${mongodb-config:cluster_hosts}
replica_set = ${mongodb-config:replica_set}

[max]
server = ${urls:max}

[oauth]
server = ${urls:oauth}
