net:
    port: ${ports:mongodb}
    http:
        enabled: true
        RESTInterfaceEnabled: true

storage:
    dbPath: ${buildout:directory}/var/data
    directoryPerDB: true

replication:
    replSetName: maxcluster

security:
    authorization: enabled
    keyFile: /var/mongodb/var/mongodb-keyfile

systemLog:
    destination: file
    path: ${buildout:directory}/var/log/mongodb.log
    logAppend: true
